<h2>Monthly</h2>
<table>
	<tr>
		<th>Envelope</th>
		<th>Remaining</th>
	</tr>
	<tr>
		<td>Internet Bill</td>
		<td>150</td>
	</tr>
	<tr>
		<td>Netflix</td>
		<td>9.99</td>
	</tr>
	<tr>
		<td>Clothing</td>
		<td>46.38</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="envelope_name"/>
		</td>
		<td>
			<input type="text" name="envelope_remainig"/>
		</td>
	</tr>
</table>
