<h2>{{title}}</h2>
<table class="table">
	<thead>
		<th>Envelope</th>
		<th>Remaining</th>
	</thead>
	<tbody>
	{{#each envelopes as |e|}}
		{{#if (eq e.group_name group_name)}}
			{{envelope-item envelope=e onEnvelopeSave=(action saveCurrentEnvelope)}}
		{{/if}}
	{{/each}}
	</tbody>
</table>
<div>
	<form>
		{{input value=envelope_name
			placeholder="Envelope Name"}}
		{{input value=envelope_amount
			enter="addEnvelope"
			placeholder="Envelope Amount"}}
	</form>
</div>
