<h1>Budget App</h1>

<h2>Monthly</h2>
<table>
	<tr>
		<th>Envelope</th>
		<th>Remaining</th>
	</tr>
	<tr>
		<td>Internet Bill</td>
		<td>150</td>
	</tr>
	<tr>
		<td>Netflix</td>
		<td>9.99</td>
	</tr>
	<tr>
		<td>Clothing</td>
		<td>46.38</td>
	</tr>
</table>

<h2>Goals</h2>
<table>
	<tr>
		<th>Envelope</th>
		<th>Remaining</th>
	</tr>
	<tr>
		<td>New House</td>
		<td>1500</td>
	</tr>
	<tr>
		<td>New Car</td>
		<td>800</td>
	</tr>
	<tr>
		<td>College</td>
		<td>60</td>
	</tr>
</table>
