<h1>Budget App</h1>

{{envelope-group
	title="Monthly"
	onEnvelopeAdd=(action "userAddedEnvelope")
	envelopes=model
	group_name="monthly"}}

{{envelope-group
	title="Goals" 
	onEnvelopeAdd=(action "userAddedEnvelope")
	envelopes=model
	group_name="goals"}}
