<div class="container">

	<div class="row">
		<h1>Budget App</h1>
	</div>

	<div class="row">
		{{envelope-group
		title="Monthly"
		onEnvelopeAdd=(action "userAddedEnvelope")
		envelopes=model
		group_name="monthly"
		saveCurrentEnvelope=(action 'saveEnvelope')}}
	</div>

	<div class="row">
		{{envelope-group
		title="Goals" 
		onEnvelopeAdd=(action "userAddedEnvelope")
		envelopes=model
		group_name="goals"
		saveCurrentEnvelope=(action 'saveEnvelope')}}
	</div>
</div>
